.button {
    padding: 15px 0;
    font: var(--font-size-s);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 9px;
}


.blueSolid {
    color: #fff;
    background: var(--blue-color);

}