.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  font: var(--font-s2);
  font-weight: 700;
  color: #fff;
  padding: 6px 8px;
}

.new {
  background: var(--green-color);
}

.coordination {
  background: var(--yellow-color);
}
.paymentCoordination{
  background: var(--blue-color);
}
.inWork{
  background: var();
}
.processed{
  background: var(--orange-color);
}
.finished{
  background: var();

}