:root {
    --font-family-main: 'Calibri', 'sans-serif';
    --font-family-second: 'Inter', 'sans-serif';
    --font-size-xl: 24px;
    --font-line-xl: normal;
    --font-weight-xl: 700;
    --font-xl: var(--font-weight-xl) var(--font-size-xl) / var(--font-line-xl)  var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: normal;
    --font-weight-m: 400;
    --font-m: var(--font-weight-m) var(--font-size-m) / var(--font-line-m)  var(--font-family-main);
    --font-size-s: 14px;
    --font-line-s: 24px;
    --font-weight-s: 400;
    --font-s: var(--font-weight-s) var(--font-size-s) / var(--font-line-s)  var(--font-family-main);
    --font-size-s2: 12px;
    --font-line-s2: normal;
    --font-weight-s2: 400;
    --font-s2: var(--font-weight-s2) var(--font-size-s2) / var(--font-line-s2)  var(--font-family-second);
    


   

   
    // colors

    --black-color: #000;
    --blue-color: #3CACDD;
    --green-color: #169F55;
    --orange-color: #E27C43;
    --yellow-color: #E2B643;
    --red-color: #E11B1B;
    --gray-bg-color: #F4F4F4;
    --blue-bg-color: #D8EEF8;
    --blue-light-bg-color: #F5FBFD;
    --dark-gray-color: #B7B7B7;

    


    // sizes

    --sidebar-width: 158px;
    --sidebar-collapsed-width: 50px;
    --login-form-width: 500px;


}
