.modal {
  display: block;
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  font: var(--font-s);
  color: var(--black-color);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba($color: #000, $alpha: 60%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  padding: 28px 40px 46px;
  border-radius: 10px;
  background: #fff;
  transition: 0.3s transform;
  transform: scale(0.5);
  max-width: 60%;
  max-height: 90%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 23px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--blue-color);
    border-radius: 10px;
  } 

  &::-webkit-scrollbar-button{
    height: 10px;
  }

}

.opened {
  &.modal {
    z-index: 100;
    opacity: 1;
    pointer-events: all;
  }

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.2);
  }
}