.item {
  display: flex;
  flex-direction: row;
  gap: 19px;
  max-width: 430px;
  align-items: center;
  justify-content: space-between;
}

.btns,
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-s2);
  gap: 16px;
}