.createApplicationForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 500px;
}

.buttons {
    display: flex;
    margin: 0 -15px;
    margin-top: 40px;
}

.button {
    margin: 0 15px;
    flex: 1 1 auto;
}

.title {
    margin-bottom: 24px;
}

.input{
    &:not(:last-child){
        margin-bottom: 16px;
    }
}