.Collapse {
  margin-top: 8px;
  margin-bottom: 25px;
}

.controlBtn {
  margin: 0 12px;
}

.actsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blueBtn {
  padding: 15px 38px;
  margin: 0 12px;
}

.docList {
  margin-top: 15px;
  margin-left: -10px;
}