.tableItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 43px;
  border-radius: 10px;
  border: 1px solid #D5D5D5;
  background: #fff;
}

.text {
  font: var(--font-m);
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}


.checkbox {
  margin-right: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &:first-child, &:nth-child(2) {
    align-items: flex-start;
  }
}
