.controlBtn:not(:last-child) {
  margin: 0 24px 0 0;
}

.table {
  margin-bottom: 30px;
  margin-top: 30px;
}

.tablesBlock {
  margin-right: 100px;
}

.totalPrice {
  font: var(--font-m);
  font-weight: 700;
}

.price {
  text-align: right;
  margin-bottom: 9px;
}