

.controlBtn {
    margin: 0 12px;
}

.table {
    margin-bottom: 30px;
    margin-top: 30px;
}

.tablesBlock {
    margin-right: 100px;
    margin-left: 24px;
}

.totalPrice {
    font: var(--font-m);
    font-weight: 700;
}

.price {
    text-align: right;
    margin-bottom: 9px;
}