.checkbox {
  display: none;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.label {
  display: block;
  position: relative;
  padding-left: 16px;
  height: 16px;
}

.label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #848484;
}

.checkbox:checked+.label::before {
  background-image: url('../../assets/icons/check-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox:checked+.blue::before {
  border: 1px solid var(--blue-color);
  background-color: var(--blue-bg-color);
  background-image: url('../../assets/icons/check-blue-icon.svg');
  background-size: contain;
}