.fileInput {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 7px 6px;
    width: 100%;
    min-height: 120px;
    outline: 1px dashed var(--dark-gray-color);
    outline-offset: -6px;
}

.fileContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropField {
    padding: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 50;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.dropBorder {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px dashed var(--dark-gray-color);
}

.label {
    color: var(--blue-color);
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.input {
    display: none;
}

.fileName {
    font: var(--font-s);
}