.title {
  margin-bottom: 24px;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 32px;
}

.selectSearch {
  width: 140px;
  height: 35px;
}

.date {
  width: 120px;
  height: 35px;
  border-radius: 13px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}